body {
  margin: 0;
  font-family: "Maison Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h2 {
  font-size: 24px;
  font-weight: 400;
}
a {
  text-decoration: none;
  margin-top: 20px;
}
button,
input[type="checkbox"] {
  cursor: pointer;
}
button,
input {
  outline: none;
}
img {
  pointer-events: none;
}
@font-face {
  font-family: "Maison Neue";
  src: url(/static/media/Font.d17a23c7.eot);
  src: url(/static/media/Font.d17a23c7.eot?#iefix) format("embedded-opentype"),
    url(/static/media/Font.07eee1dd.woff2) format("woff2"),
    url(/static/media/Font.4130383f.woff) format("woff"),
    url(/static/media/Font.807be515.ttf) format("truetype"),
    url(/static/media/Font.c9ea6650.svg#Font) format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
  margin: auto;
  padding: 10px 0;
}
.header-container > div:first-child,
.header-logo {
  cursor: pointer;
}
.header-logo {
  height: 40px;
}
.search-container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.search-input {
  width: 590px;
  padding-left: 40px;
  background-color: #f5f6f7;
  border-radius: 5px;
  height: 37px;
  border: none;
  outline: none;
  font-family: "Maison Neue";
  font-size: 16px;
}
.search-input::-webkit-input-placeholder {
  color: #cbcccd;
  font-size: 16px;
}
.search-input:-ms-input-placeholder {
  color: #cbcccd;
  font-size: 16px;
}
.search-input::-ms-input-placeholder {
  color: #cbcccd;
  font-size: 16px;
}
.search-input::placeholder {
  color: #cbcccd;
  font-size: 16px;
}
.search-input-icon {
  position: absolute;
  left: 7px;
  top: 12px;
  color: #bbb;
}
.header-button {
  height: 30px;
  width: 115px;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  font-family: "Maison Neue";
  font-size: 12px;
  outline: none;
}
.button-login-signup {
  background-color: #fff;
  color: #2cb1ba;
}
.button-sold {
  background-color: #2cb1ba;
  color: #fff;
}
.button-signup {
  margin-right: 20px;
}
.button-logout {
  height: 30px;
  border-radius: 5px;
  font-family: "Maison Neue";
  font-size: 12px;
  outline: none;
  border: none;
  background-color: #c2175b;
  color: #fff;
}
.checkbox {
  margin-right: 25px;
}
.checkbox input[name="price"] {
  display: none;
}
.checkbox input[type="checkbox"]:checked + .wrapper {
  background-color: #2cb1ba;
}
.checkbox input[type="checkbox"]:checked + .wrapper .knob {
  left: 24px;
}
.checkbox .wrapper {
  background-color: #2cb1ba;
  border-radius: 10px;
  width: 42px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  outline: none;
}
.checkbox .knob {
  background-color: #fff;
  border: 1px solid #666;
  border-radius: 100%;
  position: relative;
  width: 16px;
  height: 16px;
  left: 0;
  transition: left 0.1s ease-in-out 0s;
  font-weight: 700;
}
.checkbox .knob,
.home-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-loader {
  height: 100vh;
}
.home-hero-bg-img {
  background-image: url(/static/media/hero.09bfd0f9.jpg);
  height: 455px;
  width: 100%;
  position: relative;
  background-position: 50%;
  background-size: cover;
}
.home-hero-bg-img > div {
  width: 1280px;
  margin: auto;
}
.home-hero-ready {
  height: 220px;
  width: 360px;
  background-color: #fff;
  padding: 25px;
  border-radius: 3px;
  font-size: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 75px;
  box-shadow: 0 0 2px rgba(17, 17, 17, 0.24);
}
.home-hero-ready button {
  height: 45px;
  width: 187px;
  background-color: #2baeb7;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  border: none;
  padding: 0 14px;
  margin-top: 32px;
}
.home-hero-forme {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80px;
  pointer-events: none;
}
.home-card-wrapper {
  width: 1280px;
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto auto;
}
.card-container {
  width: 235px;
  padding: 0 6px 16px;
  cursor: pointer;
}
.card-container div:last-child img {
  height: 360px;
  width: 235px;
  object-fit: cover;
}
.card-avatar-username {
  display: flex;
  align-items: center;
  padding: 10px;
}
.card-avatar-username > img {
  height: 25px;
  width: 25px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.card-avatar-username > span {
  color: #999;
  font-size: 12px;
}
.card-price-size-brand {
  display: flex;
  flex-direction: column;
  padding: 8px;
}
.card-price-size-brand span:first-child {
  font-size: 14px;
}
.card-price-size-brand span:not(:first-child) {
  font-size: 12px;
  color: #999;
}
.signup-container {
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}
.signup-container,
.signup-form {
  display: flex;
  flex-direction: column;
}
.signup-form {
  width: 275px;
  margin: auto;
}
.signup-form > input {
  border: none;
  border-bottom: 1px solid #fcced3;
  height: 35px;
  margin-bottom: 20px;
}
.signup-form input::-webkit-input-placeholder {
  color: #cbcccd;
  font-size: 16px;
}
.signup-form input:-ms-input-placeholder {
  color: #cbcccd;
  font-size: 16px;
}
.signup-form input::-ms-input-placeholder {
  color: #cbcccd;
  font-size: 16px;
}
.signup-form input::placeholder {
  color: #cbcccd;
  font-size: 16px;
}
.signup-form input[type="checkbox"] {
  transform: scale(2);
  margin-right: 20px;
}
.checkbox-container {
  margin-top: 20px;
  padding: 10px;
}
.checkbox-container > div {
  display: flex;
}
.checkbox-container > p {
  text-align: left;
  color: #999;
  font-size: 12px;
}
.checkbox-container span {
  color: #666;
}
.signup-form button {
  background-color: #2cb1ba;
  height: 45px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
}
.signup-container a {
  color: #2cb1ba;
  font-size: 12px;
}
.signup-login-error-message {
  color: red;
  font-size: 9px;
}
.publish-main {
  background-color: #ebedee;
}
.publish-container {
  width: 1280px;
  margin: 0 auto;
}
.publish-main h2 {
  font-size: 24px;
  font-family: "Maison Neue";
  padding-top: 40px;
}
.file-select {
  background-color: #fff;
  padding: 24px;
  margin: 20px 0;
  box-shadow: 0 0 2px grey;
}
.file-select > p {
  margin: 0 0 10px;
}
.dashed-preview-without {
  border: 1px dashed #ebedee;
  border-radius: 3px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-design-default {
  width: 200px;
}
.input-design-default,
.input-design-image {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #0ab1ba;
  border-radius: 4px;
  height: 45px;
}
.input-design-image {
  width: 45px;
}
.dashed-preview-image {
  border: 1px dashed #ebedee;
  border-radius: 3px;
  height: 200px;
  display: flex;
  align-items: center;
}
.dashed-preview-image img {
  height: 90%;
  margin: 0 10px;
}
.remove-img-button {
  position: relative;
  color: #000;
  background-color: #fff;
  right: 60px;
  bottom: 70px;
  height: 25px;
  line-height: 25px;
  width: 30px;
  border-radius: 4px;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
}
.label-file {
  cursor: pointer;
  color: #0ab1ba;
  font-weight: 700;
}
.label-file > span {
  margin: 0 10px;
  vertical-align: middle;
}
.label-file:hover {
  color: #25a5c4;
}
.input-file {
  display: none;
}
.input-sign {
  font-size: 40px;
}
.text-input-section {
  background-color: #fff;
  margin: 20px 0;
  box-shadow: 0 0 2px grey;
}
.text-input-section > .text-input:not(:last-child) {
  height: 25px;
  border-bottom: 1px solid #ebedee;
  vertical-align: center;
}
.text-input-section label {
  color: #666;
}
.text-input {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}
.text-input > h4 {
  font-weight: 400;
  margin: 0;
  vertical-align: baseline;
}
.text-input > input {
  width: 50%;
  border: none;
  border-bottom: 1px solid #ebedee;
  color: #000;
  font-family: "Maison Neue";
  font-size: 16px;
}
.checkbox-section {
  width: 50%;
}
.checkbox-section > input {
  border: none;
  border-bottom: 1px solid #ebedee;
  color: #000;
  font-family: "Maison Neue";
  font-size: 16px;
  margin-bottom: 40px;
}
.checkbox-section > input:focus,
.text-input > input:focus {
  border-bottom: 1px solid #0ab1ba;
}
.text-input > input::-webkit-input-placeholder {
  font-family: "Maison Neue";
  font-size: 16px;
  color: #c4c7c9;
}
.text-input > input:-ms-input-placeholder {
  font-family: "Maison Neue";
  font-size: 16px;
  color: #c4c7c9;
}
.text-input > input::-ms-input-placeholder {
  font-family: "Maison Neue";
  font-size: 16px;
  color: #c4c7c9;
}
.text-input > input::placeholder {
  font-family: "Maison Neue";
  font-size: 16px;
  color: #c4c7c9;
}
.checkbox-section > input::-webkit-input-placeholder {
  font-family: "Maison Neue";
  font-size: 16px;
  color: #c4c7c9;
}
.checkbox-section > input:-ms-input-placeholder {
  font-family: "Maison Neue";
  font-size: 16px;
  color: #c4c7c9;
}
.checkbox-section > input::-ms-input-placeholder {
  font-family: "Maison Neue";
  font-size: 16px;
  color: #c4c7c9;
}
.checkbox-section > input::placeholder {
  font-family: "Maison Neue";
  font-size: 16px;
  color: #c4c7c9;
}
.text-input > textarea {
  width: 50%;
  resize: none;
  border: none;
  border-bottom: 1px solid #ebedee;
  outline: none;
  color: #000;
  font-family: "Maison Neue";
  font-size: 16px;
}
.text-input > textarea:focus {
  border-bottom: 1px solid #0ab1ba;
  background-color: #fff;
}
.text-input > textarea::-webkit-input-placeholder {
  font-family: "Maison Neue";
  font-size: 16px;
  color: #c4c7c9;
}
.text-input > textarea:-ms-input-placeholder {
  font-family: "Maison Neue";
  font-size: 16px;
  color: #c4c7c9;
}
.text-input > textarea::-ms-input-placeholder {
  font-family: "Maison Neue";
  font-size: 16px;
  color: #c4c7c9;
}
.text-input > textarea::placeholder {
  font-family: "Maison Neue";
  font-size: 16px;
  color: #c4c7c9;
}
.checkbox-input > input {
  display: none;
}
.checkbox-design {
  border-radius: 3px;
  padding: 2px 11px;
  margin: 0 15px 0 0;
  border: 1px solid #000;
}
.checkbox-design-checked {
  border-radius: 3px;
  padding: 3px 6px;
  margin: 0 15px 0 0;
  background-color: #0ab1ba;
}
.form-button-div {
  display: flex;
  justify-content: flex-end;
}
.form-validation {
  background-color: #0ab1ba;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin: 50px 0;
}
.form-validation,
.save-offer {
  font: inherit;
  outline: inherit;
  padding: 12px;
}
.save-offer {
  background-color: transparent;
  color: #0ab1ba;
  border: 1px solid #0ab1ba;
  border-radius: 4px;
  margin: 50px 15px 50px 0;
}
.offer-body {
  height: calc(100vh - 60px);
  background-color: #ebedee;
}
.offer-container {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  grid-gap: 30px;
  gap: 30px;
}
.offer-picture {
  height: 600px;
  object-fit: cover;
}
.offer-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  width: 320px;
  padding: 40px;
}
.offer-price {
  font-size: 24px;
  line-height: 32px;
  color: #111;
}
.offer-list {
  list-style-type: none;
  padding: 0;
}
.offer-list li {
  display: flex;
  padding: 2px 0;
}
.offer-list span {
  flex: 1 1;
  font-size: 14px;
  text-transform: uppercase;
}
.offer-list span:nth-child(odd) {
  color: #999;
}
.offer-list span:nth-child(2n) {
  color: #666;
  font-weight: 700;
}
.offer-infos .divider {
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(17, 17, 17, 0.1);
}
.offer-content .name {
  font-weight: 700;
}
.offer-content .description {
  color: #666;
}
.offer-infos button {
  color: #fff;
  background: #09b1ba;
  border: 1px solid #09b1ba;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  height: 36px;
  padding: 0 16px;
  line-height: 36px;
  margin-top: 32px;
}
.offer-infos button:hover {
  background: #09adb6;
}
.offer-infos button:active {
  background: #09a3ac;
}
.carousel .thumbs-wrapper {
  margin: 0 !important;
}
.carousel .thumbs {
  padding: 0 !important;
}
.carousel .thumb img {
  height: auto;
}
.offer-avatar-username {
  display: flex;
  align-items: center;
}
.offer-avatar-username > img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.payment-card ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.payment-card li {
  font-size: 16px;
  line-height: 22px;
  color: #666;
  padding: 4px 0;
  display: grid;
  grid: auto/1fr auto;
  align-items: center;
}
.payment-card li.bold {
  color: #111;
  font-weight: 700;
}
.payment-wrapper {
  background: #ebedee;
  height: calc(100vh - 59px);
}
.payment-container {
  width: 600px;
  margin: 0 auto;
  padding: 36px 20px;
}
.payment-card {
  background: #fff;
}
.payment-card > .title {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: #999;
  padding: 24px 24px 8px;
}
.payment-card .content {
  padding: 24px;
  text-align: justify;
}
.payment-card .divider {
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(17, 17, 17, 0.1);
  margin: 24px 0;
}
.payment-card .content .bold {
  font-weight: 700;
}
.payment-card label {
  color: #6b7c93;
  font-weight: 300;
  letter-spacing: 0.025em;
}
.payment-card button {
  margin-top: 8px;
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  height: 44px;
  padding: 0 14px;
  color: #fff;
  border: 1px solid;
  border-radius: 4px;
  background: #00c06d;
  border-color: #00c06d;
}
.payment-card button:hover {
  background: #00bb6a;
  border-color: #00bb6a;
}
.payment-card button:active {
  background: #01b165;
  border-color: #01b165;
}
.payment-card input,
.StripeElement {
  display: block;
  margin: 10px 0 20px;
  padding: 10px 14px;
  font-size: 1em;
  font-family: "Source Code Pro", monospace;
  box-shadow: 0 1px 3px rgba(50, 50, 93, 0.14902),
    0 1px 0 rgba(0, 0, 0, 0.0196078);
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: #fff;
}
.payment-card input::-webkit-input-placeholder {
  color: #aab7c4;
}
.payment-card input:-ms-input-placeholder {
  color: #aab7c4;
}
.payment-card input::-ms-input-placeholder {
  color: #aab7c4;
}
.payment-card input::placeholder {
  color: #aab7c4;
}
.payment-card input:focus,
.StripeElement--focus {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.109804),
    0 1px 3px rgba(0, 0, 0, 0.0784314);
  transition: all 0.15s ease;
}
